{% extends "base.html" %}


{% block content %}
<div class="container">
    <h1>Изменение пароля</h1>
    
    <form method="POST">
        <div class="mb-3">
            <input type="password" class="form-control" id="" aria-describedby="" placeholder="Old password" name="old_password" value=''>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="" aria-describedby="" placeholder="New password" name="new_password" value=''>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="" aria-describedby="" placeholder="Repeat new password" name="repeat_new_password" value=''>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>
</div>

{% endblock %}