{% extends "base.html" %}

{% block content %}
<form method='POST' class="container">
    <div class="mb-3">
      <label for="login" class="form-label">login</label>
      <input type='login' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="login">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="remember">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}