{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Список пользователей</h1>
    <table class="table">
        {% for id, login, first_name, last_name, middle_name in users %}
        <tr>
            <td>
                {{login}}
            </td>
            <td>
                {{first_name}} {{last_name}} {{middle_name}}
                <href>
            <td>
                <a href="{{url_for('showuser', user_id=id)}}" class="btn btn-success">Просмотр</a>
                <a href="{{url_for('edit_user', user_id=id)}}" class="btn btn-primary">Редактировать</a>      
                <a href="{{url_for('delete_user', user_id=id)}}" class="btn btn-danger">Удаление</a>
            </td>
            
        </tr>
        {% endfor%}
    </table>
</div>

{% endblock %}
