{% macro form_user(user, roles)%}
    <form method="POST">
        {% if request.endpoint == 'createuser'%}
            <div class="mb-3">
            <input type="login" class="form-control" id="" aria-describedby="" placeholder="Login" name="login" value={{user.login or ''}}>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="" aria-describedby="" placeholder="Password" name="password" value={{user.password or ''}}>
            </div>
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example" name="role" required>
                    {%for role in roles%}
                    <option value="{{role.id}}">{{role.name}}</option>
                    {%endfor%}
                  </select>
            </div>
        {% endif%}
        <div class="mb-3">
            <input type="text" class="form-control" id="" aria-describedby="" placeholder="First name" name="first_name" value={{user.first_name or ''}}>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Last name" name="last_name"  value={{user.last_name or ''}}>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Last name" name="middle_name"  value={{user.middle_name or ''}}>
        </div>
        {% if request.endpoint == 'show_user' or request.endpoint == 'edit_user'%}
        <div class="mb-3">
            <p class="form-control">{{user.role_name or ''}}</p>
        </div>
        {% endif%}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endmacro%}