{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Список пользователей</h1>
    <table class="table">
        {% for user in users %}
        <tr>
            <td>
                {{user.login}}
            </td>
            <td>
                {{user.first_name}} {{user.last_name}}
            <td>
            <td>
                {{user.role_name}}
            </td>  
            <td>
                {% if current_user.can("show", user) %}
                    <a href="{{url_for('show_user', user_id=user.id)}}" class="btn btn-success">Просмотр</a>
                {% endif %}
                {% if current_user.can("edit", user) %}
                    <a href="{{url_for('edit_user', user_id=user.id)}}" class="btn btn-primary">Редактировать</a>  
                {% endif %}
                {% if current_user.can("delete", user) %}    
                    <a href="{{url_for('delete_user', user_id=user.id)}}" class="btn btn-danger">Удаление</a>
                {% endif %}
            </td>
            
        </tr>
        {% endfor%}
    </table>
</div>

{% endblock %}
