{% extends 'base.html' %}

{% block content %}
    <section class="post">
        <h2 class="post__title">{{  title  }}</h2>
        <p class="post__author">{{  post['author']  }} <span>{{post['date']}}</span></p>
        <img class="card-img-top" src="{{ url_for('static', filename='images/' + post.image_id) }}" alt="Card image cap">
        <p>{{post['text']}}</p>
    </section>


<section class="comment">
    <h2>Комментарии</h2>
    <form action="#" class="commet__form">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <textarea class="form-control" rows="2" placeholder="Добавьте Ваш комментарий"></textarea>
                    <div class="mar-top clearfix">
                        <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Добавить</button>
                        <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#"></a>
                        <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
                        <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a>
                    </div>
                </div>
            </div>
    </form>


{% for comment in post['comments'] %}
<div class="d-flex">
    <div class="flex-shrink-0">
        <img src="../static/images/avatar.jpg" class="rounded-circle comments__img" alt="Sample Image">
    </div>
    <div class="flex-grow-1 ms-3">
        <h5>{{comment['author']}}<small class="text-muted"></small></h5>
        <p>{{comment['text']}}</p>

        <!-- Nested media object -->
       {%if comment['replies']%}
            {% for replies in comment['replies'] %}
             <div class="d-flex mt-4">
            <div class="flex-shrink-0">
                <img src="../static/images/avatar.jpg" class="rounded-circle comments__img" alt="Sample Image">
            </div>
            <div class="flex-grow-1 ms-3">
                <h5>{{replies['author']}} <small class="text-muted"></small></h5>
                <p>{{replies['text']}}</p>
            </div>
        </div>
        {%endfor%}

        {%endif%}
    </div>
</div>

    {% endfor %}

</section>




{% endblock %}